
li, ul, li fieldset div
{display: inline-block }

li fieldset div.add_field
{display: block }

ul, li
{ margin : 1.5em;}

ul, li
{ padding : 2em;}

li fieldset label
{ padding-left : 1em;}

fieldset
{min-width:40em;}

li 
{
    -moz-box-shadow: 10px 10px 5px #333;
    -webkit-box-shadow: 10px 10px 5px #333;
    box-shadow: 10px 10px 5px #333;
}

body
{ background-color: #555;}

li
{ background-color: #EEE;}

li:hover
{ background-color: #DDD;}